   
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Try Something New</h1>
    <p class="lead text-muted">Design elements, form factor and construction can also vary significantly between models depending on the intended use. Examples of specialized models of laptops include rugged notebooks for use in construction or military applications, as well as low production cost laptops such as those from the One Laptop per Child (OLPC) organization, which incorporate features like solar charging and semi-flexible components not found on most laptop computers.</p>
    <p>
      <a href="" class="btn btn-secondary my-2">Home</a>
    <a href="form" class="btn btn-secondary my-2">Form</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/image/lappy.jpg"  style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">How to utilize your patience and time management. During this experience I was pretty much on my own. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/image/callinglappy.jpg"  style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Every day talk with the coworkers and telling problem and how to successfully on that problem. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/image/worklaptop.jpg"  style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Understanding customers needs, matching products that meet customers requirements. </p>
          </div>
        </div>
      </div>

      







