    
<div class="card mb-3 col-12" style="height:50%;">
  <img src="/assets/image/photo4.png" class="card-img-top">  
</div>

<div class="col-12 text-center">
  <h1 class="jumbotron-heading ">World Is Here</h1>
  <p class="lead text-muted">A laptop, laptop computer, or notebook computer is a small, portable personal computer (PC) with a screen and alphanumeric keyboard. These typically have a clamshell form factor, typically having the screen mounted on the inside of the upper lid and the keyboard on the inside of the lower lid, although 2-in-1 PCs with a detachable keyboard are often marketed as laptops or as having a laptop mode..</p>
  <p>
    <a href="content" class="btn btn-secondary my-2">Content</a>
    <a href="form" class="btn btn-secondary my-2">Form</a>
  </p>
</div>


 






